-- dht
DHT_POWER_PIN = 2
DHT_READ_PIN = 1

-- power
SLEEP_SECONDS = 600
ADC_READER_POWER_PIN = 7

-- connection
WIFI_SSID = "some"
WIFI_PASSWORD = "pass"
NET_IP = "192.168.0.66"
NET_MASK = "255.255.255.0"
NET_GATEWAY = "192.168.0.1"

SERVER_ADDR = "http://192.168.0.64:3000/api/sensor"
SENSOR_ID = "sensory"


